
# general modules
Django==4.2
python-decouple
pillow
djangorestframework==3.14
djangorestframework-simplejwt



# third party modules
markdown
django-filter  
drf-yasg==1.21.8


# deployment modules
black
flake8
